body {
    font-family: 'Neue Haas Grotesk Text', sans-serif;
}

.wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.contest-title {
    font-size: 30px;
    font-weight: bold;
}

.contest-subtitle {
    font-size: 22px;
    margin: 0px;
}

.contest-photo {
    padding: 10px 0px 10px 0px;
}

.contest-info {
    padding: 10px 0px 10px 0px;
}

.contest-info ul {
    margin: 0px;
    text-decoration: none;
    font-size: 18px;
}

.contest-info li {
    list-style-type: none;
    margin: 10px 0px 10px 0px;
}

.contest-sponsors {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contest-sponsors img {
    width: 200px;
    margin-top: 10px;
}