body {
    /* font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; */
    font-family: 'Neue Haas Grotesk Text', sans-serif;
    line-height: 1.8;
}

a:link {
    color: black !important;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: black !important;
    text-decoration: none;
}

a:hover {
    color: rgb(111, 37, 35) !important;
    text-decoration: none;
}

a:active {
    color: black !important;
    text-decoration: none;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
}

.site-title {
    font-size: 30px;
    width: 180px;
    line-height: 1.1;
    font-weight: bold;
}

.site-header {
    border-color: black;
    border-width: 2px;
    border-top: 0px;
    padding: 40px 0px 10px 10px;
}

.site-nav {
    padding-top: 58px;
    padding-right: 15px;
}

.menu-icon {
    width: 20px;
}

.page-link {
    margin-left: 30px;
    font-size: 18px;
    font-weight: bold;
}

.post-header {
    margin: 0px;
}

.main-photo {
    width: 100%;
    padding-bottom: 10px;
}

.post-title {
    /* padding-top: 10px; */
    font-size: 30px;
    font-weight: bold;
}

.site-footer-ufv {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:flex-start;
    text-align: left;
}

.site-footer-ufv  h1 {
    line-height: 1.2;
    font-size: 22px;
    margin: 0px 0px 0px 10px;
    font-weight: bold;
}

.site-footer-ufv h2 {
    line-height: 1.2;
    font-size: 22px;
    margin: 0px 0px 0px 10px;
}

.logo {
    float: left;
    margin: 10px;
    width: 100px;
}

/*Media Query*/
@media(max-width: 860px) {
    .site-title {
        width: 85%;
    }

    .logo {
        float:none;
    }

    .site-footer-ufv {
        display: block;
    }

    .site-nav {
        float: left;
        align-items: center;
        padding: 0px;
    }

    .page-link {
        margin-left: 0px;
    }
}